---
---

@import "main";


$bg-sidebar: #112D4E;     /* Primary background ng sidebar (60%) */
$color-muted: #DBE2EF;    /* Secondary color (30%) */
$color-accent: #F9F7F7;   /* Highlight color (10%) */
$bg-hover: #3F72AF;       /* Hover state background */

/* ==========================================
   SIDEBAR LAYOUT
   ========================================== */
